.custom-carousel-inner {
    position: relative;
    width: 20%;
    overflow: hidden;
    
   
}
.carousel slide {
    justify-content: center;
}


@media (min-width: 768px) {
 
   }
@media (min-width: 1200px) {
    
}

