<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')%>
    <link rel="stylesheet" href="/css/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Córdoba Uniformes</title>
</head>

<body>
    <%- include('partials/header')%>
    
    <h1> Categorias</h1>
    <a href = "/productos/categorias?categorias=medicina"> Medicina </a>
    



    <%- include('partials/footer')%>
</body>
</html>