<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head')%>
    <link rel="stylesheet" href="/css/productos.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Córdoba Uniformes</title>
</head>

<body>
    <%- include('partials/header')%>

    <h1 class ="nuestros-productos"> Nuestras Prendas</h1>
<div class="listado">   
    
<div>
    <a class="categorias"href = "/productos/categorias?categorias=medicina"> Medicina </a>
    <a class="categorias"href = "/productos/categorias?categorias=medicina"><img class="foto-categoria" src="/img/300-c.png"></a>
</div>
<div>
    <a class="categorias" href = "/productos/categorias?categorias=medicina"> Gastronomía </a>
    <a class="categorias" href = "/productos/categorias?categorias=medicina"><img class="foto-categoria" src="/img/1-058-bn.png"></a>
</div>
<div>
    <a class="categorias" href = "/productos/categorias?categorias=medicina"> Empresas </a>
    <a class="categorias" href = "/productos/categorias?categorias=medicina"><img class="foto-categoria" src="/img/311.jpg"></a>
</div>
</div>




    <%- include('partials/footer')%>
</body>
</html>