<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head')%>
        <link rel="stylesheet" href="/css/productosPorCategoria.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Córdoba Uniformes</title>
</head>

<body>
    <%- include('partials/header')%>

        <h1> Título </h1>
        <div class="listado">

            <div class="productoIndividual">
                <a class="categorias" href="/productos/categorias?categorias=medicina">
                    <img class="foto-categoria" src="/img/300-c.png">
                    <p>Nombre del producto </p>
                </a>
            </div>
            <div class="productoIndividual">
                <a class="categorias" href="/productos/categorias?categorias=medicina">
                    <img class="foto-categoria" src="/img/300-c.png">
                    <p>Nombre del producto </p>
                </a>
            </div>
            <div class="productoIndividual">
                <a class="categorias" href="/productos/categorias?categorias=medicina">
                    <img class="foto-categoria" src="/img/300-c.png">
                    <p>Nombre del producto </p>
                </a>
            </div>
            <div class="productoIndividual">
                <a class="categorias" href="/productos/categorias?categorias=medicina">
                    <img class="foto-categoria" src="/img/300-c.png">
                    <p>Nombre del producto </p>
                </a>
            </div>
            <div class="productoIndividual">
                <a class="categorias" href="/productos/categorias?categorias=medicina">
                    <img class="foto-categoria" src="/img/300-c.png">
                    <p>Nombre del producto </p>
                </a>
            </div>
            <div class="productoIndividual">
                <a class="categorias" href="/productos/categorias?categorias=medicina">
                    <img class="foto-categoria" src="/img/300-c.png">
                    <p>Nombre del producto </p>
                </a>
            </div>


        </div>




        <%- include('partials/footer')%>
</body>

</html>