<footer class ="pie-de-pagina">
    <link rel="stylesheet" href="/css/footer.css">

    <div class = "separador">
        <p>.</p>
    </div>
    <div class="pie">
        <div class ="datos">
        <h3>CORDOBA UNIFORMES <br>
            Rosario - Río Cuarto <br>
            www.cordobauniformes.com.ar</h3>
        </div>
        <div class ="iconos">
            <nav >
                <ul class ="redes">
                    <li><a href="https://www.instagram.com/cordoba.uniformes/"target="_blank"><i id="icono" class="fa-brands fa-square-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/CordobaUniformes"target="_blank"><i id="icono" class="fa-brands fa-square-facebook"></i></a></li>
             
                   
                    
                </ul>
            </nav>    
        </div>
    </div>
    
    </footer>