<header>
    <link rel="stylesheet" href="/css/header.css">
    <!-- IMAGEN LOGO -->
    <div class="menu">
        <a href="/"><img class ="logo" src="/img/logoCU.jpg" alt="Córdoba Uniformes"></a>
        <img class ="menu-mobile" src="/img/menu-mobile.png" alt="Menú Mobile">
    </div>
    <div>

    <nav class="menu_principal">

        <ul class="menu_superior">
            
                <li class="boton"><a href="/">Inicio</a></li>
                <li class="boton"><a href="/quienes-somos">Quienes somos</a></li>
                <li class="boton"><a href="/productos">Productos</a></li>
                <li class="boton"><a href="/guia-de-talles">Guia de talles</a></li>
                <li class="boton"><a href="/locales">Locales</a></li>
          
              
        </ul>
    </div>
</header>