<header>
    <link rel="stylesheet" href="/css/header.css">
    <!-- IMAGEN LOGO -->
    <div class="menu">
        <a href="/"><img class ="logo" src="/img/logo_blanco.png" alt="Córdoba Uniformes"></a>
        <img class="banner" src="/img/banner.gif">
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
        <!-- <img class ="menu-mobile" src="/img/menu-mobile.png" alt="Menú Mobile">  -->
    </div>
    <div>
    <nav class="menu_principal">
        <ul class="menu_superior">
                <li class="boton"><a href="/">Inicio</a></li>
                <li class="boton"><a href="/quienes-somos">Quienes somos</a></li>
                <li class="boton"><a href="/productos/categorias">Productos</a></li>
                <li class="boton"><a href="/guia-de-talles">Guia de talles</a></li>
                <li class="boton"><a href="/locales">Locales</a></li>
        </ul>
    </div>
</header>